<link rel="stylesheet" href="../public/css/style.css" />
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3">
				<i class="fas fa-user-plus"></i> Register
			</h1>
			<%- include('./partials/messages') %>
			<form action="/users/register" method="POST">
				<div class="form-group">
					<label for="name" class="form-label mt-4">Name</label>
					<input
						type="name"
						id="name"
						name="name"
						class="form-control"
						placeholder="Enter Name"
						value="<%= typeof name != 'undefined' ? name : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="email" class="form-label mt-4">Email</label>
					<input
						type="email"
						id="email"
						name="email"
						class="form-control"
						placeholder="Enter Email"
						value="<%= typeof email != 'undefined' ? email : '' %>"
					/>
					<small id="emailHelp" class="form-text text-muted"
						>We'll never share your email with anyone else.</small
					>
				</div>
				<div class="form-group">
					<label for="password" class="form-label mt-4">Password</label>
					<input
						type="password"
						id="password"
						name="password"
						class="form-control"
						placeholder="Create Password"
						value="<%= typeof password != 'undefined' ? password : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="confirm_password" class="form-label mt-4"
						>Confirm Password</label
					>
					<input
						type="password"
						id="confirm_password"
						name="confirm_password"
						class="form-control"
						placeholder="Confirm Password"
						value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
					/>
				</div>
				<div class="d-grid gap-2 mt-4">
					<button type="submit" class="btn btn-primary btn-block">
						Register
					</button>
				</div>
			</form>
			<p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
		</div>
	</div>
</div>
